---
import BlogLayout from "../layouts/BlogLayout.astro";
import { Image } from "@astrojs/image/components";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<BlogLayout>
  <div class="min-h-screen w-full max-w-7xl lg:col-span-3">
    <section>
      <div class="p-5 md:py-32 lg:px-5">
        <div class="mt-20">
          <h1
            class="text-4xl font-bold tracking-tighter text-black lg:text-8xl"
          >
            Blog
          </h1>
        </div>
        <div
          class="mt-8 space-y-12 text-base text-zinc-800 lg:col-span-3 lg:mt-24"
        >
          {
            posts.map((post) => (
              <>
                <article class="md:grid md:grid-cols-4 md:items-baseline">
                  <>
                    <div class="group relative flex flex-col items-start md:col-span-3">
                      <>
                        <h2 class="text-2xl font-semibold tracking-tight text-black ">
                          <a href={post.url}>
                            <>
                              <span class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl" />
                              <span class="relative z-10">
                                {post.frontmatter.title}:
                              </span>
                            </>
                          </a>
                        </h2>
                        {post.frontmatter.heroImage && (
                          <Image
                            src={import(
                              `../assets/images/hero/${post.frontmatter.heroImage}.png`
                            )}
                            alt={post.frontmatter.title}
                            class="relative z-10 mb-5 h-64 w-full rounded-lg object-cover shadow-lg"
                          />
                        )}
                      </>

                      <>
                        <p class="relative z-10 mt-2 mb-2 text-xl text-slate-600">
                          {post.frontmatter.description}
                        </p>
                        <div
                          aria-hidden="true"
                          class="relative z-10 mt-4 flex items-center text-sm font-medium text-black transition group-hover:text-orange-400"
                        >
                          Read article
                          <svg
                            viewBox="0 0 16 16"
                            fill="none"
                            aria-hidden="true"
                            class="order-last ml-1 h-4 w-4 stroke-current transition group-hover:translate-x-6"
                          >
                            <path
                              d="M6.75 5.75 9.25 8l-2.5 2.25"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                        </div>
                      </>
                    </div>
                    <time
                      class="relative z-10 order-first mt-1 mb-3 flex items-center text-base text-zinc-500 dark:text-zinc-400 md:block"
                      datetime={post.frontmatter.pubDate}
                    >
                      {new Date(post.frontmatter.pubDate).toLocaleDateString(
                        "en-us",
                        {
                          year: "numeric",
                          month: "short",
                          day: "numeric",
                        }
                      )}
                    </time>
                  </>
                </article>
              </>
            ))
          }
        </div>
      </div>
    </section>
  </div>
</BlogLayout>

<style>
  ul {
    list-style-type: none;
    padding: unset;
  }
  ul li {
    display: flex;
  }
  a {
    color: #000;
  }
  ul li time {
    flex: 0 0 130px;
    font-style: italic;
    color: #595959;
  }
  ul li a:visited {
    color: rgb(246, 120, 56);
  }
</style>
