---
import home from "../assets/images/home.jpg";
import projects from "../assets/images/projects.jpg";
import blog from "../assets/images/blog.jpg";
import about from "../assets/images/about.jpg";
import contact from "../assets/images/contact.jpg";
import Bars from "../assets/icons/Bars.astro";
---

<footer>
  <nav>
    <div id="nav-links">
      <a class="nav-link" href="/#home">
        <span class="nav-link-label rubik-font">Home</span>
        <img class="nav-link-image" src={home} />
      </a>
      <a class="nav-link" href="/#projects">
        <span class="nav-link-label rubik-font">Projects</span>
        <img class="nav-link-image" src={projects} />
      </a>
      <!--
        <a class="nav-link" href="/blog">
          <span class="nav-link-label rubik-font">Blog</span>
          <img class="nav-link-image" src={blog} />
        </a>
       -->
      <a class="nav-link" href="/#about">
        <span class="nav-link-label rubik-font">About</span>
        <img class="nav-link-image" src={about} />
      </a>
      <a class="nav-link" href="/#contact">
        <span class="nav-link-label rubik-font">Contact</span>
        <img class="nav-link-image" src={contact} />
      </a>
    </div>
  </nav>

  <button id="nav-toggle" type="button">
    <!--
    <Bars class="open" />
    <Bars class="close" />
     -->
  </button>
</footer>

<style>
  nav {
    @apply h-[var(--page-height)]  md:h-[50vh] overflow-y-scroll pt-5 pb-36 px-12 w-full absolute bottom-0 left-0 z-[1] overflow-hidden;
  }

  .nav-link-label {
    font-size: large;
    font-weight: 600;
  }

  #nav-links > .nav-link {
    text-decoration: none;
  }

  #nav-links > .nav-link > .nav-link-label {
    color: white;
    font-size: 1.25rem;
    margin: 0rem;
    text-transform: uppercase;
  }

  #nav-links > .nav-link > .nav-link-image {
    width: max(20vw, 400px);
    aspect-ratio: 1.8 / 1;
    border-radius: 0.5rem;
    margin-top: 0.75rem;
    object-fit: cover;
  }

  #nav-toggle {
    @apply bg-orange-400;
  }
  #nav-toggle {
    height: 5rem;
    width: 5rem;
    position: fixed;
    z-index: 3;
    left: 50%;
    bottom: 3rem;
    transform: translateX(-50%);
    border: none;
    border-radius: 5rem;
    outline: none;
    box-shadow: 0rem 0rem 4rem rgba(0 0 0 / 35%);
    cursor: pointer;
    transition: transform, background-color;
    transition-timing-function: ease;
    transition-duration: 400ms;
  }

  #nav-toggle:hover {
    transform: translateX(-50%) scale(1.04);
  }

  #nav-toggle:active {
    transform: translateX(-50%) scale(0.96);
  }

  #nav-links {
    @apply flex flex-col items-center md:flex-row gap-5;
  }
  #nav-links {
    margin-top: clamp(2rem, 2vw, 3rem);
    padding: 0rem clamp(1rem, 2vw, 2rem);
    transform: translateY(70%) scale(0.9);
    transition: transform 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
    justify-content: center;
  }

  #nav-toggle > i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    color: rgb(246, 231, 224);
    font-size: 1.75rem;
    opacity: 0;
    transition: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 400ms;
  }
</style>
