---
import BaseHead from "../components/global/BaseHead.astro";
import Footer from "../components/global/Footer.astro";
import TableOfContents from "../components/blog-post/TableOfContents.astro";
import { Image } from "@astrojs/image/components";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import { SEO } from "astro-seo";

declare global {
  interface Window {
    dataLayer: any[];
    gtag: (...args: any[]) => void;
  }
}
export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: { title },
          type: "website",
          image: "https://charafmrah.com/thumbnail.jpg",
        },
      }}
      twitter={{
        creator: "@charafmrah",
      }}
    />
  </head>

  <body
    data-nav="false"
    class="m-0 w-screen bg-black font-Inter text-slate-700"
  >
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-59JLRZ4JB2"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-59JLRZ4JB2");
    </script>

    <!--

 -->
    <main
      role="main"
      class="relative z-[2] transform bg-white bg-cover bg-center transition-all duration-500 ease-in-out lg:pt-0"
    >
      <div class="container flex min-w-full flex-row items-center">
        <div
          id="page-wrapper"
          class="h-screen min-h-full overflow-scroll scroll-smooth px-5 pb-32 text-base md:px-40 lg:px-80 lg:pt-20"
        >
          <div
            class="header z-20 flex w-full items-center justify-start gap-3 bg-white py-4 transition-all duration-500 ease-in-out lg:absolute lg:top-0 lg:left-0 lg:w-32 lg:bg-transparent lg:px-8"
          >
            <a rel="prefetch" href="/blog" class="w-full shrink-0">
              <button
                type="button"
                class="w-full cursor-pointer rounded-lg border-2 border-black py-2 px-14 text-lg font-bold text-black hover:bg-black hover:text-white lg:w-auto"
                >Back</button
              >
            </a>
          </div>
          <TableOfContents />
          <div class="contents">
            <article id="single-article">
              <header>
                <h1 class="title">{title}</h1>
                {
                  heroImage && (
                    <Image
                      class="mb-10 w-full rounded-lg"
                      src={import(`../assets/images/hero/${heroImage}.png`)}
                      alt="Hero image"
                    />
                  )
                }
                <p>{description}</p>
                <hr class="mb-10" />
              </header>
              <slot class="" />
            </article>
          </div>
        </div>
      </div>
    </main>
    <Footer />

    <script is:inline>
      document
        .getElementById("nav-toggle")
        .addEventListener("click", toggleNav);

      document.querySelectorAll("a.nav-link").forEach((link) => {
        link.addEventListener("click", toggleNav);
      });

      function toggleNav() {
        document.body.dataset.nav =
          document.body.dataset.nav === "true" ? "false" : "true";
      }
    </script>

    <script>
      let options = {
        root: null,
        rootMargin: "0px",
      };
      const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("show");
          } else {
            entry.target.classList.remove("show");
          }
        });
      });

      const hiddentElements = document.querySelectorAll(".component-hidden");
      hiddentElements.forEach((element) => {
        observer.observe(element);
      }, options);
    </script>
    <style is:global>
      p {
        @apply mb-10;
      }

      img {
        @apply mb-5 max-w-full rounded-md shadow-md;
      }

      .contents {
        padding: 1em;
        width: 100%;
        max-width: 800px;
        font-size: 1.2em;
      }
      .contents h2,
      .contents h3 {
        padding-top: 1em;
      }
      body[data-nav="true"] > .header {
        transition: all 500ms;
        transform: translateY(-100%);
        visibility: hidden;
      }
    </style>
  </body>
</html>
